<%- include ../layouts/header.ejs %>

<form action="/suppliers/add" method="post" name="form1">
	<table width="25%" border="0">
		<tr> 
			<td>Name</td>
			<td><input type="text" name="Name" id="Name" value="<%= Name %>" /></td>
		</tr>
		<tr> 
			<td>Site URL</td>
			<td><input type="text" name="Site_URL" value="<%= Site_URL %>" /></td>
		</tr>
		<tr> 
			<td></td>
			<td><input type="submit" name="Submit" value="Add" /></td>
		</tr>
	</table>
</form>

<%- include ../layouts/footer.ejs %>