<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/">Home</a> | 
			<a href="/items/add">Add New Donut</a> | 
			<a href="/items">Donut Inventory List</a>
			<a href="/employees/add">Add New Employee</a> | 
			<a href="/employees">Employee List</a>
			<a href="/customers/add">Add New Customer</a> | 
			<a href="/customers">Customer List</a>
			<a href="/suppliers/add">Add New Supplier</a> | 
			<a href="/suppliers">Supplier List</a>
		</div>	
		<h1><%= title %></h1>